@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Figtree", sans-serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.flex{
    display: flex;
}
.jb{
    justify-content: space-between;
}
.jc{
    justify-content: center;
}
.ic{
    align-items: center;
}
:root{
    --primaricolor:#fa1239;
    --headingFontSize:28px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
} 
/* ...........................main css start.......................... */
nav{
    background-color: #ffff;
    padding: 21px 0;
}
.menu ul{
    gap: 24px;
}
.menu ul li a{
    padding: 10px;
    color: #282828;
    font-size: 18px;
    line-height: auto;
    font-weight: 500;
    transition: all linear .4s;
}
.button{
    padding: 12px 22px;
    border-radius: 30px;
    background-color: var(--primaricolor);
    font-size: 18px;
    font-weight: 500;
}
.button a{
    color: white;
}
.button.mobile-btn {
    display: none;
}
.menu ul li i {
  display: none;
}
li svg.icon {
  display:none;
}
/* ..................................Hero Section Start........................................ */
.hero{
    background: linear-gradient(90deg,rgba(255, 198, 208, 1) 0%, rgba(255, 226, 231, 1) 100%);
}
.main{
    gap: 10px;
}
.title{
    width: 1118px;
}
.title h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-transform: capitalize;
    padding-top: 128px;
    padding-bottom: 38px;
}
.title h2 .span{
    color: var(--primaricolor);
}
.heading {
    position: relative;
}
.title-img{
    position: absolute;
    bottom: 105px;
    left: 0;
}
.title p{
    width: 485px;
    font-size: 16px;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 38px;
}
.buttons{
    gap: 24px;
}
.resume{
    padding: 12px 22px;
    border-radius: 30px;
    background-color: white;
    color: var(--primaricolor);
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #FC4E6A;
   box-shadow: 4px 0px 12px rgba(250, 18, 57, 0.58);
}
.resume a{
    color: var(--primaricolor);
    border: 1px; 
}
/* .resume:hover{
    background-color: var(--primaricolor);
    box-shadow: none;
    color: white;
} */
/* .resume a:hover{
    color: white;
} */
.right{
    width:100%;
    padding-top: 90px;
    position: relative;
}
/* .rating {
    position: absolute;
    top: 482px;
    left: -30px;
    background-color: white;
    padding: 20px 15px;
    border-radius: 10px;
    gap: 20px;
} */
/* .rating h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #1CB098;
}
.rating p{
    font-weight: 600;
    font-size: 24px;
    margin-top: 11px;
}
.stars{
    color: #FFAB00;
    gap: 4px;
} */
/* .online{
    background-color: white;
    position: absolute;
    bottom: 41.57px;
    right: 0;
    border-radius: 10px;
    padding: 26.71px 23.33px;
    gap: 20px;
} */
/* .online h3{
    font-weight: 800;
    font-size: 30px;
}
.online p{
    font-weight:500;
    font-size: 17px;
} */
/* ...........................resume Start.................................. */
.next{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 46px;
}
.next h5{
    font-weight: 600;
    font-size: 18px;
    background-color: #fedee4;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 26px;
    text-transform: capitalize;
    border-radius: 6px;
}
.next h2{
    max-width: 1240px;
    font-weight: 600;
    font-size: 44px;
    line-height: 55px;
    text-transform: capitalize;
    margin: 0 auto;
}
.next h2 span{
    color: var(--primaricolor);
}
.cards{
    margin-top: 50px;
    gap: 20px;
    max-width: 1300px;
    justify-content: center;
}
.one{
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    padding: 20px 20px 38px 20px;
    border-radius: 20px; 
    max-width: 298.75px;   
}
.img{
    padding: 25px 50px;
}
.one h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-top: 18px;
    padding-bottom: 24px;
}
.one p{
    font-size: 18px;
    line-height: 30px;
}
/* .......................responsive start............................... */
.hamburger {
  display: none;
  font-size: 28px;
  color: black;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 2000;
}
@media (max-width: 400px) {
  nav img {
    width: 125.61px; 
    height: auto;
  }
  .navbar-toggler {
    margin-left: 8px; 
  }
  li svg.icon {
  display: inline-block;
}
}
@media (max-width: 991px) {
    .container{
    padding-left: 16px;
    padding-right: 19px;
}
  nav {
    background-color: white;
    position: relative;
    z-index: 1000;
  }
  .menu ul {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .menu ul li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menu ul li i {
    display: inline-block; 
    color: #282828;
    font-size: 22px;
  }
  .menu ul li.active a,
  .menu ul li.active i {
    color: var(--primaricolor);
    font-weight: 600;
  }
  .menu.active {
    display: flex;
  }
  .desktop-btn {
    display: none;
  }
  .mobile-btn {
    display: block;
    margin-top: 25px;
  }
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffe3e8;
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  }
.menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu.active .mobile-btn {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 83px;
}

.menu.active .mobile-btn a {
  display: block;
  width: 100%;
}
li svg.icon {
  display: inline-block;
}
}

/* ...........responsive part......... */
@media (max-width: 400px) {
    .main {
	flex-direction: column;
    gap: 0;
}
 .title {
	width: auto;
}
.title h2 {
	font-size: 28px;
	line-height: 42px;
	padding-top: 10.34px;
	padding-bottom: 24px;
	width: auto;
	text-align: center;
}
.title-img {
	display: none;
}
.title p {
	width: 340px;
	font-size: 16px;
	line-height: 34px;
	margin: 0 auto 24px;
}
.buttons {
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	align-items: center;
}
  .buttons .resume,
  .buttons .button {
    width: fit-content;
    max-width: 100%;
  }
  .right {
	width: auto;
	padding-top: 24px;
}
  .right {
	margin-left: 8px;
}
.hero-img img {
	width: 100%;
}
/* .rating {
	padding: 12px 13.44px;
	top: 211px;
	left: -21px;
    gap: 8px;
} */
/* .rating h2 {
	font-size: 22px;
}
.rating p {
	font-size: 14px;
}
.stars {
	font-size: 12px;
}
.online {
	padding: 9.63px 9.64px;
	gap: 15px;
	width: auto;
	bottom: 16.57px;
	right: -14px;
}
.online h3 {
	font-size: 18px;
} */
/* .online p {
	font-size: 11px;
}
.online img {
	width: 36px;
} */
/* ................. */
.next h2 {
	width: auto;
	font-size: 30px;
	line-height: 40px;
}
.cards {
	margin-top: 26px;
	gap: 26px;
	flex-direction: column;
}
.one {
    margin: 0 auto;
}
.one h3 {
	font-size: 18px;
}
.one p {
	font-size: 15px;
}
.one .img {
	padding: 25px 13px;
}
.next {
	padding-top: 40px;
	text-align: center;
	padding-bottom: 38px;
}
}
@media (min-width: 401px) and (max-width: 575px) {  
  /* ............Responsive Hero part................ */
  .main{
    flex-direction: column;
    gap: 0px;
  }
  .title {
	width: auto;
}
.title h2 {
	font-size: 34px;
	line-height: 48px;
	padding-top: 10px;
	padding-bottom: 24px;
	text-align: center;
}
.title-img {
	display: none;
}
.title p {
	width: 340px;
	font-size: 16px;
	line-height: 34px;
	margin: 0 auto 24px;
}
.buttons {
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	align-items: center;
}
  .buttons .resume,
  .buttons .button {
    width: fit-content;
    max-width: 100%;
  }
  .right {
	padding-top: 24px;
}
.hero-img img{
	width: 100%;
}
/* .rating{
    padding: 12px 15px;
    top: 296px;
    left: -15px;
}
.rating h2 {
	font-size: 22px;
}
.rating p {
	font-size: 14px;
}
.online {
	padding: 9px 6px;
    bottom: 35.57px;
    right: 300px;
} */
/* .online img {
	width: 36px;
}
.online h3 {
	font-size: 18px;
}
.online p {
	font-size: 11px;
} */
/* ..................Resposive resume start..................... */
.next h2 {
	width: auto;
	font-size: 30px;
	line-height: 40px;
}
.cards {
	margin-top: 26px;
	gap: 26px;
	flex-direction: column;
}
.one {
    margin: 0 auto;
}
}
/* ..................sm device................. */
@media (min-width: 576px) and (max-width: 767px) {
   .main {
	gap: 0px;
	display: flex;
	flex-direction: column;
}
.title h2 {
	font-size: 50px;
	padding-top: 45px;
	padding-bottom: 27px;
	text-align: center;
	width: 510px;
	line-height: 62px;
}
    .hero-img img {
	width: 70%;
    margin-left: 40px;
}
.rating {
	padding: 20px 15px;
	top: 367px;
	left: 15px;
}
.rating h2 {
	width: 60px;
	font-size: 40px;
	line-height: 67px;
}
.title-img {
	display: none;
}
.rating p {
	font-size: 18px;
}
.online img {
	width: 50px;
}
.online {
	padding: 12px 13px;
	bottom: 35.57px;
	right: 139px;
}
.online h3 {
	font-size: 22px;
}
.online p {
	font-size: 15px;
}
/* ............resume responsive............... */
.next h2 {
	width: auto;
	font-size: 39px;
	line-height: 52px;
}
.cards {
	margin-top: 40px;
	gap: 24px;
	flex-direction: column;
}
.one {
    margin: 0 auto;
}
}
/* .................md device.................... */
@media (min-width: 768px) and (max-width: 991px) {
    .main {
	gap: 46px;
	flex-direction: column;
	margin-top: -80px;
}
.right {
	margin-left: 65px;
}
.next h2 {
	width: auto;
	font-size: 43px;
}
.cards {
	gap: 20px;
	flex-wrap: wrap;
}
}
/* .................lg device.................... */
@media (min-width: 992px) and (max-width: 1199px) {
    .button.mobile-btn {
	display: none;
}
.main{
    padding-bottom: 50px;
}
.title {
	width: 450px;
}
.title h2 {
	font-size: 60px;
}
.title-img {
	display: none;
}
.hero-img img {
	width: 377px;
	padding-right: 25px;
}
.right {
	width: 40%;
}
.rating h2 {
	font-size: 50px;
}
.rating p {
	font-size: 20px;
}
.rating {
	top: 311px;
	left: -89px;
	padding: 12px 9px;
}
.online img {
	width: 37px;
}
.online h3 {
	font-size: 27px;
}
.online p {
	font-size: 14px;
}
.online {
	bottom: 226.57px;
	right: 23px;
	padding: 6.71px 8.33px;
}
.next h2 {
	width: auto;
	font-size: 45px;
	line-height: 60px;
}
.cards {
	margin-top: 50px;
	gap: 20px;
	flex-wrap: wrap;
	margin-left: 155px;
}
}
/* .................xl device.................... */
@media (min-width: 1200px) and (max-width: 1400px) {
    nav .container {
	padding: 0 5px;
}
       .button.mobile-btn {
	display: none;
}
.right {
	width: 600px;
	padding-top: 90px;
	margin-right: 48px;
}
.cards {
	flex-wrap: wrap;
}
}